@{
    ViewBag.Title = "Home Page";
}
@section header {
    
}
<div class="conteudo">
    <div class="col-md-2 sidebar desktop">
        Menu
    </div>
    <div class="col-md-10" ng-app="rootApp">

        <div class="marginstd">
            <h3 id="title">Top Ofertas</h3>
            <hr />
            @{Html.RenderAction("TopOferta", "Module", new { catid = 77, k = "", result = 4, page=1 });}
        </div>
        <div class="marginstd">
            <h3 id="title">Top Ofertas</h3>
            <hr />
            @{Html.RenderAction("TopOferta2", "Module", new { catid = 3673, k = "", result = 4, page=1 });}
        </div>

    </div>
</div>

