html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-size: 10px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

#body {
    overflow:auto;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
        text-decoration: none;
    }

    a:hover {
        /*background-color: #c7d1d6;*/
    }

.fl-left {
    float:left;
}
.fl-right {
    float:right;
}
.overflow {
    overflow:auto;
}
@media (max-width: 768px) {
    .desktop {
        display:none;
    }
}
@media (min-width: 768px) {
  .mobile {
        display:none;
    }
}
.fonte14bold {
    font-size:14px;
    font-weight:bold;
}

.fonte16bold {
    font-size:16px;
    font-weight:bold;
}

.fonte18bold {
    font-size:18px;
    font-weight:bold;
}

.red {
    color:#f00;
}
.marginstd {
    margin-top:10px;
}
.marginL {
    margin-left:10px;
}
.marginR {
    margin-right:10px;
}
.height70 {
    height:70px;
}
.height60 {
    height:60px;
}
a.btn-success {
    color:#fff;
}
.dir-align {
    text-align:right;
}
.esq-align {
    text-align:left;
}


#form1 input[type="text"] {
    padding:10px;
    font-size:14px;
    width:75%;
    border-radius:5px;
    border:1px solid #ccc;
}

#form1 input[type="button"] {
    padding:10px;
    font-size:14px;
    /*width:40%;*/
    border-radius:20px;
    border:1px solid #f5f5f5;
    background-color:#4CA34C;
    color:#fff;
}

    
 /*header
----------------------------------------------------------- */
.top1 { background-color:#c5ccd4; height:2px;}
.navbar { margin-bottom: 0 !important;}
.top2 { font-size: 14px; background-color:#f5f5f5; padding: 5px 10px; margin:0;}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu3d {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    }
  
}

.nav-tabs {
    font-size:18px;
    margin:10px 0px 30px 0px;
    font-weight:bold;
    border-bottom: 1px solid #4CA34C;
}
@media (max-width: 768px) {
  .nav-tabs {
    font-size:14px;
    margin:10px 0px 30px 0px;
    font-weight:bold;   
}   
.navbar-brand {
    font-size:20px !important;
    /*color:#24B744 !important;*/
    padding:15px !important;
}
    .moblogin {
        padding:15px 5px;
        font-size:14px;
    }
}

.nav > li > a {
    cursor:pointer;
}

.nav > li > a:hover {
    background-color:#f5f5f5;
}

.nav > li > a.active {
    border:1px solid #4CA34C;
    background-color:#4CA34C;
    color:#fff;
}

hr {
    color:#4CA34C;
}
.formtop1 {
    padding:15px;
    width:75%;
    font-size:14px;
}
.formtop1 input[type="text"] {
    padding:10px;
    font-size:14px;
    width:40%;
    border-radius:5px;
    border:1px solid #f5f5f5;
}

.formtop1 input[type="button"] {
    padding:12px;
    font-size:14px;
    /*width:40%;*/
    border-radius:5px;
    border:1px solid #f5f5f5;
    background-color:#4CA34C;
    color:#fff;
}

.navbar-brand {
    font-size:25px;
    font-weight:bold;
    /*color:#24B744 !important;*/
    padding:25px;
}
.loginarea {
    padding:25px 20px;
}
.loginarea a {
    font-size:16px;
    /*font-weight:bold;*/
}

/*body
----------------------------------------------------------- */
.conteudo {
    min-height:600px;
}

.sidebar {
    padding:5px;
    text-align:center;
    font-size:14px;
    min-height:600px;
}
    .sidebar h1 {
        font-size:25px;
        margin-top:10px;
        margin-bottom:0px;
        /*font-weight:bold;*/
    }
.produto-lista {
    background-color:#fff;
    width:25%;
    float:left;
    min-height: 385px;
    border-radius: 6px;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    text-align:center;
    padding:5px;
    /*border-top:solid 5px #24B744;*/
    border-bottom:solid 5px #24B744;
    margin-bottom:5px;
}
@media (max-width: 768px) {
    .produto-lista {
        width:100%;
    }
}
.pagination {
    text-align:center;
    padding:5px;
    font-size:14px;
    width:100%;
}
.lista-specs {
    font-size:14px;
    font-weight:bold;
}


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
